#encoding: utf-8

<h1>Список сообщений</h1>

<table class="table table-condensed" id="tracks_table">>
  <thead>
    <tr>
      <th>От</th>
      <th>Кому</th>
      <th>Текст</th>
      <th>Дата отправки</th>
      <th>Тема</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.from_uid %></td>
        <td><%= message.to_uid %></td>
        <td><%= link_to truncate(message.text), message %></td>
        <td><%= message.msgdate %></td>
        <td><%= message.subject %></td>
        <td><%= %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Новое сообщение', new_message_path , :method => :get , :class => "btn" %>
