# coding: utf-8

<p id="notice">
	<%= notice %>
</p>

<strong>От: </strong>
<%= @message.from_uid %>

<p>
	<strong>Тема:</strong>
	<%= @message.subject %>
</p>


<strong>Текст сообщения:</strong>

<blockquote>
	<p>
		<%= @message.text %>
	</p>
</blockquote>

	<textarea rows="3" placeholder="Введите описание" id="descr_text"></textarea>		

<%= button_to 'Ответить', messages_path,  :method => :get , :class => "btn btn-primary" %>

<%= button_to 'Назад', messages_path,  :method => :get , :class => "btn" %>
