<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<%= image_tag "delivery_icon.png",  class: "brand"  %>
			<a class="brand" href="#">Metapost</a>

			<div class="container nav-collapse ">
				<ul class="nav nav-justified">

					<li>
						<%= link_to "Главная", "/main/index"  %>
					</li>
					<% if current_user %>
					<li>
						<span class="glyphicon glyphicon-star"></span>
						<%= link_to "Поиск", "/routes/show"  %>
					</li>

					<li>
						<%= link_to "Добавить", "/routes/add"  %>
					</li>

					<% end %>

				</ul>
				<ul class="navbar-search pull-right">

					<% if current_user %>
					Logged in as <%= current_user.email %>.
					<%= link_to "Log out", log_out_path %>
					<% else %>

					<%= link_to "Sign up", sign_up_path %> or

					<%= link_to "log in", log_in_path %>

					<% end %>

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>