<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<script type="text/javascript" charset="utf-8"></script>

<legend>
	Новый маршрут
</legend>

<div id="map_canvas" style='width: 800px; height: 400px;'></div>
<br>

<div class="span4">
	<label>Отправка</label>
	<div class="input-append date" id="dp1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
		<input class="span2" size="16" type="text" value="12-02-2012">
		<span class="add-on"><i class="icon-th"></i></span>
	</div>

	<label>Прибытие</label>
	<div class="input-append date" id="dp2" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
		<input class="span2" size="16" type="text" value="12-02-2012">
		<span class="add-on"><i class="icon-th"></i></span>
	</div>
	<button class="btn btn-success" id="send_btn" >
		<i class="icon-white icon-zoom-in"></i> Добавить Маршрут
	</button>

</div>
<div class="span4">
	<label>Описание</label>
	<textarea rows="3" placeholder="Введите описание" id="descr_text"></textarea>		
</div>
<br>

<%= javascript_include_tag 'gmapsstuff' %>
<script type="text/javascript">
	buildMap();
	$(document).ready(function() {
		// Handler for .ready() called.
		$('#dp1').datepicker();
		$('#dp2').datepicker();
	});

	//load map when button click (replace with what you want)
	$('#send_btn').click(function() {

		//alert("dassdf");
		$.ajax({
			type : "GET",
			url : "/mpapi/add",
			data : {
				start: $('#dp1').data('date'),
				end: $('#dp2').data('date'),
				descr: $('#descr_text').val(),
				markers : JSON.stringify(poly.getPath().getArray())
			},
			success : function() {
				alert("Маршрут добавлен!");
			}
		});
	});

</script>
