<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<script type="text/javascript" charset="utf-8"></script>

<h1>Поиск маршрута</h1>

<div style='width: 80%px;'>
	<div id="map_canvas" style='width: 80%; height: 400px;'></div>
</div>

<div class="span4">
	<label>Отправка</label>
	<div class="input-append date" id="dp1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
		<input class="span2" size="16" type="text" value="12-02-2012">
		<span class="add-on"><i class="icon-th"></i></span>
	</div>
<br>
	<button class="btn btn-success" id="send_btn">
		<i class="icon-white icon-zoom-in"></i> Поиск
	</button>

</div>

<table class="table table-condensed" id="tracks_table">

</table>

<%= javascript_include_tag 'gmapsstuff' %>

<script type="text/javascript">
	buildMap();

	$(document).ready(function() {
		// Handler for .ready() called.
		$('#dp1').datepicker();
		$('#dp2').datepicker();
	});

	//load map when button click (replace with what you want)
	$('#send_btn').click(function() {

		$.ajax({
			type : "GET",
			url : "/mpapi/get",
			data : {
				start : $('#dp1').data('date'),
				markers : JSON.stringify(poly.getPath().getArray())
			},
			success : function(data) {
				data=JSON.parse(data);
				var tbl_body = "<tr> <th>ID</th> <th>Описание</th> <th>Дата отправки</th> </tr>";

				$.each(data, function(index) {
					var tbl_row = "";
					var track = data[index];
					console.log("data-- " + JSON.stringify(data[index]));
					tbl_row += "<td>" + index + "</td>";
					tbl_row += "<td>" + JSON.stringify(data[index].descr) + "</td>";
					tbl_row += "<td>" + JSON.stringify(data[index].start) + "</td>";
					//tbl_row += "<td>" + JSON.stringify(data[index].descr ) + "</td>";
					console.log("track:" + JSON.stringify(data[index].descr));
					$.each(track, function(ind) {
						//placeMarker(new google.maps.LatLng(track[ind].lat, track[ind].lng, true), map);
					});
					tbl_body += "<tr>" + tbl_row + "</tr>";
					//alert(data[index].lng);
				});

				$("#tracks_table").html(tbl_body);
			}
		});
	});

</script>

